@font-face {
  font-family: "Seeweed Script";
  src: url("../font/Seaweed_Script/SeaweedScript-Regular.ttf")
    format("truetype");
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeName {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 300px;
  font-family: "Seeweed Script";
  color: white;
  background-color: transparent;
  z-index: 2;
}

.homeCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ededed5e;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  z-index: 1;
}
